#quizArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100vw;
  }

#title {
    font-size: 44px;
    color: red;
    font-weight: bold;
    text-align: center;
}

#box {
    padding: 250px;
}

body {
    background-image: url(../images/quiz.jpg);
}
